<!DOCTYPE html>

<html>

<body>
    <h3>Trip Delay Notification</h3>
    

    <p><b>Trip ID:</b> {{tripId}}</p>
    <p><b>Vehicle NO:</b>{{vehicleId}}</p>
    <p><b>Delay In(Mins):</b>{{delay}}</p>

    <br />
    Thanks,<br />
    FMVTS-Admin
</body>

</html>